<div class="thumbnail"  [routerLink]="['/events',event?.id]">
    <img [src]="event?.imageUrl" class="event-img"  [alt]="event?.name" />

    <div class="well hoverwell thumbnail">
        <div class="row">
            <div class="col-md-11">
                <h2>{{ event?.name | uppercase }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div><strong>Date:</strong> {{ event?.date  |date :'y/M/d' }}</div>
                <div><strong>Time:</strong> {{ event?.time }}</div>
                <div><strong>Price:</strong> {{ event?.price | currency :'USD' }}</div>
            </div>
            <div class="col-md-6">
                <address>
                    <strong>Address:</strong><br />
                    {{ event?.location?.address }}<br />
                    {{ event?.location?.city }}, {{ event?.location?.country }}
                </address>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary mx-2" (click)="handleClickMe()"> Click me</button>
        </div>
    </div>
</div>